#app {
    max-width: 750px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 6.24rem;
}
.btn {
    width: 5.4rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    background-color: #fff;
    border: none;
    color: #ff3418;
    font-size: 0.34rem;
    border-radius: 0.5rem;
    margin: 0.2rem auto;
}
.btn-primary {
    color: #fff;
    background-color: #ff3418;
}